$primary-font: 'Roboto',Helvetica,Arial,sans-serif;
$primary-font-size: 12px;

$primary-color: #1D4457;
$accent-color: #bfe2f2;
$error-color: #571D27;
$max-width: 600px;

$shadow-base: 0.1 * $primary-font-size;

body {
    font-family: $primary-font;
    font-size: $primary-font-size;
    background: #fff;
    color: $primary-color;
    font-weight: 300;
}

.main {
    margin: 0 auto;
    max-width: $max-width;
}

a {
    color: $primary-color;
}

.user {
    padding: (0.5 * $primary-font-size) (1 * $primary-font-size);
    font-weight: bold;
}

.thread {
    position: relative;
}

.message {
    margin-top: 1 * $primary-font-size;

    .msg {
        box-sizing: border-box;
        padding: (1 * $primary-font-size);
        box-shadow: (0.1 * $primary-font-size) (0.1 * $primary-font-size) (0.1 * $primary-font-size) $primary-color;
        background: $accent-color;
        border-radius: 1 * $primary-font-size;
        border: 1px solid $accent-color;        
    }

    .date {
        padding: (0.5 * $primary-font-size) (1 * $primary-font-size);
        font-weight: lighter;
        opacity: .75;
    }
}

.message.me {
    
    .msg {
        background: #fff;
    }
}


input {
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: (1 * $primary-font-size);
    box-shadow: (0.1 * $primary-font-size) (0.1 * $primary-font-size) (0.1 * $primary-font-size) $primary-color;
    border: 1px solid $accent-color;
}

button {
    margin: (0.5 * $primary-font-size) 0;
    background: $primary-color;
    color: $accent-color;
    box-shadow: none;
    border: none;
    padding: 1 * $primary-font-size;
    border-radius: 1 * $primary-font-size;
    cursor: pointer;
    font-family: inherit;
}

button:hover {
    opacity: .75;
}

.logout {
    text-align: right;
}

.error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(255,255,255,1);
    border: 1px solid $error-color;
    color: $error-color;
}